---
layout: page
lang: en
title: "Networks of Dispossession"
description: "Collective data compiling and mapping on the relations of capital and power in Turkey"
action_link: "https://graphcommons.com/hubs/mulksuzlestirme/explore"
action_call: "Explore"
---

{% assign posts=site.posts | where:"lang", page.lang %}

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">
        <img src="{{ post.header-img }}" alt="" />
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
</div>
<hr class="divider">
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Next</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

{% include newsletter.html %}
