---
layout: page
lang: tr
title: "Mülksüzleştirme Ağları"
slug: "home"
description: "Sermaye-iktidar ilişkileri üzerine kolektif veri derleme ve haritalama"
action_link: "https://graphcommons.com/hubs/mulksuzlestirme"
action_call: "Haritasını çıkar"
---

{% for post in site.posts %}
    {% if page.lang == post.lang %}
    <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">
            <img src="{{ post.header-img }}" alt="" />
            <h2 class="post-title">
                {{ post.title }}
            </h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
        </a>
    </div>
    <hr class="divider">
    {% endif %}
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Sonraki</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Önceki &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

{% include newsletter.html %}
