---
layout: page
description: "Sermaye-iktidar ilişkileri üzerine kolektif veri derleme ve haritalama"
action_link: "https://graphcommons.com/hubs/mulksuzlestirme/explore"
action_call: "Haritasını çıkar"
---

<div class="section-small text-muted">
    Mülksüzleştirme Ağları veritabanı
    606 Şirket, 92 Karma Proje, 83 Termik Santral, 76 Konut, 60 Finansör, 60 AVM, 51 Kamu Kurumu, 38 Medya, 25 Otel, 22 Liman, 17 Elektrik Dağıtım, 14 HES, 10 Hastane, 9 Baraj, 9 Kamu Binası, 8 Havalimanı, 7 Metro, 6 Karayolu, 6 Maden, 5 Demiryolu, 4 Ofis, 4 Birlik, 3 Stadyum, 3 Gaz Dağıtım, 3 Kongre Merkezi, 3 Rafineri, 3 Tünel, 3 Dini Tesis, 3 Nükleer Santral, 2 Doğalgaz Santrali, 2 Fabrika, 2 Otopark, 2 Rüzgar Santrali, 2 Su İşleri, 2 Köprü, 2 Tren Garı, 1 Okul, 1 Park, 1 Müze, 1 Denizyolu, 1 Tüpgeçit, 1 İskele, 1 Meydan Düzenleme
    içermektedir.
    Aşağıda bu veritabanından yapılmış harita seçkilerini görebilirsiniz. 
</div>

<br>

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <img src="{{ post.header-img }}" alt="" />
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
</div>
<hr class="divider">
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Sonraki</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Önceki &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

{% include newsletter.html %}
